Repository MorevM/vue-transitions: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --allow-empty-input

.lintstagedrc.yaml:

'*.{js,vue,json.jsonc,json5,yml,yaml}':
  - eslint --fix
'*.{css,scss}':
  - stylelint --fix --allow-empty-input

feat!: Vue 3 version of components
  .eslintrc.js
  .github/workflows/build.yaml
  .github/workflows/release.yaml
  .release-it.yaml
  README.md
  bin/fix.js
  bin/switch.js
  builders/vue2-builder/package.json
  builders/vue2-builder/vite-dev.config.js
  builders/vue2-builder/vite-lib.config.js
  builders/vue3-builder/package.json
  builders/vue3-builder/vite-lib.config.js
  package.json
  scripts/postinstall.js
  scripts/postpublish.js
  scripts/prepack.js
  scripts/switch-cli.js
  scripts/utils.js
  src/mixins/base-transition.js
  yarn.lock
Due: eslint --fix

release: Release version 2.0.0
  CHANGELOG.md
  package.json
Due: none

ci: Explicit call of `prepack` script before publising
  .github/workflows/release.yaml
Due: eslint --fix

release: Release version 2.0.1
  CHANGELOG.md
  package.json
Due: none

ci: Remove mentions of workspaces before publishing
  scripts/prepack.js
Due: eslint --fix

refactor: Better `bin` command names
  package.json
Due: none

docs: Add note about version switching
  README.md
Due: none

release: Release version 2.0.2
  CHANGELOG.md
  package.json
Due: none

chore: Treat `@morev/helpers` as external dependency
  builders/vue2-builder/vite-lib.config.js
  builders/vue3-builder/vite-lib.config.js
Due: eslint --fix

chore: Update rest dependencies
  builders/vue2-builder/package.json
  package.json
  yarn.lock
Due: none

feat: Change default `easing` value
  README.md
  playground/components/transition-proxy/transition-proxy.vue
  src/mixins/base-transition.js
  src/utility/defaults/defaults.js
Due: eslint --fix

feat: Add types for plugin options
  README.md
  package.json
  src/index.js
  tsconfig.json
  types/index.d.ts
  yarn.lock
Due: eslint --fix

feat: Plugin options to customize component names / default props
  README.md
  src/index.js
Due: eslint --fix

docs: Fix `move-duration` type
  README.md
Due: none

fix: Shared default `axis` prop value for `transition-expand`
  src/transitions/transition-expand/transition-expand.vue
Due: eslint --fix

release: Release version 2.1.0
  CHANGELOG.md
  package.json
Due: none

release: Release version 2.1.1
  CHANGELOG.md
  package.json
Due: none

Deploying to gh-pages from @ MorevM/vue-transitions@e59d7b5a01bb6477c212cf53fa972338380624c9 🚀
  assets/index.3771c973.js
  assets/index.c60a6d26.js
  assets/vendor.c464be70.js
  index.html
Due: eslint --fix

fix(types): Correct `defaultProps` key
  types/index.d.ts
Due: none

release: Release version 2.1.2
  CHANGELOG.md
  package.json
Due: none

nvm: Add Ya.Metrika to playground
  playground/index.html
Due: none

nvm: Fix playground `+` fast click issue
  playground/components/transition-proxy/transition-proxy.vue
Due: eslint --fix

release: Release version 2.1.3
  CHANGELOG.md
  package.json
Due: none

Deploying to gh-pages from @ MorevM/vue-transitions@23696fb53d2613952d06b7d79b9be2710fa1dc87 🚀
  assets/index.59abdf25.js
  assets/index.c60a6d26.js
  index.html
Due: eslint --fix

chore: bump `jest` from 27.5.1 to 28.1.0
  jest.config.js
  package.json
  yarn.lock
Due: eslint --fix

chore: bump `@morev/helpers` from 0.16.0 to 0.16.1
  package.json
  yarn.lock
Due: none

chore: bump `@morev/v-bem-transformer` from 1.0.0 to 1.0.1
  builders/vue2-builder/package.json
  yarn.lock
Due: none

release: Release version 2.1.4
  CHANGELOG.md
  package.json
Due: none

nvm: Fix mistakenly duplicated `package.json` deps
  package.json
Due: none

chore: bump `@morev/eslint-config` from 14.0.1 to 15.1.0
  package.json
  yarn.lock
Due: none

chore: bump vite from 2.9.14 to 3.0.2
  package.json
  yarn.lock
Due: none

chore: bump `vue` and `vue-template-compiler` from 2.6.14 to 2.7.8
  builders/vue2-builder/package.json
  yarn.lock
Due: none

chore: bump @vitejs/plugin-vue from 2.3.3 to 3.0.1
  builders/vue3-builder/package.json
  yarn.lock
Due: none

chore: Common deps upgrade
  package.json
  yarn.lock
Due: none

chore: Relint files after deps update
  playground/components/transition-proxy/transition-proxy.scss
Due: stylelint --fix --allow-empty-input

chore: Upgrade vue2 builder deps
  builders/vue2-builder/package.json
  yarn.lock
Due: none

chore: Upgrade vue3 builder deps
  builders/vue3-builder/package.json
  yarn.lock
Due: none

fix(types): Make plugin options optional
  types/index.d.ts
Due: none

feat(types): Add inline documentation for `d.ts` file
  types/index.d.ts
Due: none

feat(types): Expose component props and emits types
  types/index.d.ts
Due: none
