Repository MorevM/vue-transitions: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --allow-empty-input

.lintstagedrc.yaml:

'*.{js,vue,json.jsonc,json5,yml,yaml}':
  - eslint --fix
'*.{css,scss}':
  - stylelint --fix --allow-empty-input

release: Release version 0.0.1
  CHANGELOG.md
  package.json
Due: none

fix: Correct initial transform of `transition-slide`
  src/transitions/transition-slide/transition-slide.vue
Due: eslint --fix

fix: Add CSS file exports
  README.md
  package.json
Due: none

release: Release version 0.0.2
  CHANGELOG.md
  package.json
Due: none

feat: Add 'opacity' option
  src/mixins/base-transition.js
  src/mixins/base-transition.scss
  src/transitions/transition-expand/transition-expand.scss
  src/transitions/transition-expand/transition-expand.vue
  src/transitions/transition-fade/transition-fade.scss
  src/transitions/transition-fade/transition-fade.vue
  src/transitions/transition-scale/transition-scale.scss
  src/transitions/transition-scale/transition-scale.vue
  src/transitions/transition-slide/transition-slide.scss
  src/transitions/transition-slide/transition-slide.vue
  vetur/attributes.json
  vetur/tags.json
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: Add 'scale' option for 'transition-scale'
  __tests__/validate/validate-scale-value.test.js
  src/transitions/transition-scale/transition-scale.vue
  src/utility/defaults/defaults.js
  src/utility/validate/validate-scale-value.js
  vetur/attributes.json
  vetur/tags.json
Due: eslint --fix

nvm
  __tests__/validate/validate-delay.test.js
  __tests__/validate/validate-duration.test.js
  __tests__/validate/validate-easing.test.js
  __tests__/validate/validate-expand-axis.test.js
  __tests__/validate/validate-scale-axis.test.js
  __tests__/validate/validate-scale-origin.test.js
  __tests__/validate/validate-slide-offset.test.js
Due: eslint --fix

docs: Appropriate changes
  README.md
Due: none

feat: Add 'scale' option in playground
  playground/components/prop-control/_prop-control-autocomplete/prop-control-autocomplete.vue
  playground/components/prop-control/_prop-control-number/prop-control-number.vue
  playground/components/prop-control/_prop-control-select/prop-control-select.vue
  playground/components/prop-control/_prop-control-text/prop-control-text.vue
  playground/components/prop-control/prop-control.vue
  playground/components/transition-proxy/transition-proxy.vue
Due: eslint --fix

feat: Add VS Code settings
  .gitignore
  .vscode/settings.template.json
Due: none

chore: Update linters + appropriate fixes
  .eslintignore
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .stylelintrc.js
  CHANGELOG.md
  package.json
  yarn.lock
Due: eslint --fix

refactor: Change the 'opacity' option to 'no-opacity'
  README.md
  src/mixins/base-transition.js
  src/transitions/transition-expand/transition-expand.vue
  src/transitions/transition-scale/transition-scale.vue
  src/transitions/transition-slide/transition-slide.vue
  vetur/attributes.json
  vetur/tags.json
Due: eslint --fix

refactor: Change the 'move-disable' option to 'no-move'
  README.md
  src/mixins/base-transition.js
  vetur/attributes.json
  vetur/tags.json
Due: eslint --fix

fix: Add markdown files to lint-staged settings
  .lintstagedrc.yaml
Due: eslint --fix

chore: Deps update
  package.json
  yarn.lock
Due: none

nvm: Add local `todo` file to .gitignore
  .gitignore
Due: none

release: Release version 0.1.0
  CHANGELOG.md
  package.json
Due: none

chore: Add `dependabot`
  .github/dependabot.yml
Due: eslint --fix

fix: Correct order of style actions, refactoring the code
  src/mixins/base-transition.js
  src/transitions/transition-expand/transition-expand.vue
  src/transitions/transition-fade/transition-fade.vue
  src/transitions/transition-scale/transition-scale.vue
  src/transitions/transition-slide/transition-slide.vue
Due: eslint --fix

fix: Set `important` flag to all style transformations
  src/mixins/base-transition.js
  src/mixins/base-transition.scss
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: Respect the existing element opacity during expand
  src/transitions/transition-expand/transition-expand.vue
Due: eslint --fix

fix: Add `transform` transition-property to `expand` transition
  src/transitions/transition-expand/transition-expand.scss
Due: stylelint --fix --allow-empty-input

refactor: More safe `setMoveDuration`
  src/mixins/base-transition.js
Due: eslint --fix

feat: Playground is done
  playground/components/prop-control/_prop-control-number/prop-control-number.vue
  playground/components/transition-proxy/transition-proxy.scss
  playground/components/transition-proxy/transition-proxy.vue
  playground/index.html
  playground/main.js
  src/utility/defaults/defaults.js
Due: eslint --fix, stylelint --fix --allow-empty-input

chore: Update VSCode project settings
  .vscode/settings.template.json
Due: none

fix: Correct work with percentage value in `transition-slide`
  src/transitions/transition-slide/transition-slide.vue
Due: eslint --fix

chore: Separate Vite configs to make the playground
  .github/workflows/build.yaml
  .github/workflows/release.yaml
  .gitignore
  package.json
  vite/vite-dev.config.js
  vite/vite-lib.config.js
Due: eslint --fix

ci: Add playground publish to GH pages
  .github/workflows/playground.yaml
Due: eslint --fix

chore: Update linters to skip playground lint
  .eslintignore
  .stylelintignore
Due: none

chore: Update `release-it` config to fit new `scripts` section
  .release-it.yaml
Due: eslint --fix

release: Release version 1.1.0
  CHANGELOG.md
  package.json
Due: none

Deploying to gh-pages from @ MorevM/vue-transitions@fbd5c2849b681f9437daefc1554003bd8bb3399a 🚀
  index.html
  vue-transitions/index.0303cd87.css
  vue-transitions/index.f14b2e2a.js
  vue-transitions/vendor.6f65d27e.js
Due: eslint --fix, stylelint --fix --allow-empty-input

docs: Correct playground config `base` to fit GH pages
  vite/vite-dev.config.js
Due: eslint --fix

fix: Correct base URL
  assets/index.0303cd87.css
  assets/index.ac82cfe0.js
  assets/vendor.c464be70.js
  index.html
  vue-transitions/index.f14b2e2a.js
Due: eslint --fix, stylelint --fix --allow-empty-input

docs: Fix playground `offset` control
  playground/components/prop-control/_prop-control-double-text/prop-control-double-text.vue
  playground/components/transition-proxy/transition-proxy.vue
Due: eslint --fix

Deploying to gh-pages from @ MorevM/vue-transitions@0a3e3ddf1055657760a16ddee712da5e27570083 🚀
  assets/index.3771c973.js
  assets/index.ac82cfe0.js
  index.html
Due: eslint --fix

docs: Update `README.md`
  .eslintrc.js
  README.md
Due: eslint --fix

test: Rename `validators` directory
  __tests__/validators/validate-delay.test.js
  __tests__/validators/validate-duration.test.js
  __tests__/validators/validate-easing.test.js
  __tests__/validators/validate-expand-axis.test.js
  __tests__/validators/validate-scale-axis.test.js
  __tests__/validators/validate-scale-origin.test.js
  __tests__/validators/validate-scale-value.test.js
  __tests__/validators/validate-slide-offset.test.js
Due: eslint --fix

chore(vscode): Add setting to validate `json` files
  .vscode/settings.template.json
Due: none
