Repository MorevM/vue-transitions: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --allow-empty-input

feat(types): Typings for global components using Volar
  types/index.d.ts
  types/volar.d.ts
Due: none

docs: Add info about TS/Intellisense support
  .github/images/intellisense-vue2.jpg
  .github/images/intellisense-vue3.jpg
  README.md
Due: none

chore: bump @babel/core from 7.18.10 to 7.19.0
  package.json
  yarn.lock
Due: none

chore: bump sass from 1.54.8 to 1.54.9
  package.json
  yarn.lock
Due: none

chore: bump vite from 3.0.4 to 3.1.0
  package.json
  yarn.lock
Due: none

chore: bump typescript from 4.8.2 to 4.8.3
  package.json
  yarn.lock
Due: none

chore: bump @morev/helpers from 1.4.0 to 1.4.1
  package.json
  yarn.lock
Due: none

chore: bump @morev/eslint-config from 16.0.0 to 17.0.1
  package.json
  yarn.lock
Due: none

chore: Disable `regexp/strict` ESLint rule for workspaces regexp
  scripts/prepack.js
Due: eslint --fix

chore: bump vue and @vitejs/plugin-vue to latest
  builders/vue3-builder/package.json
  yarn.lock
Due: none

release: Release version 2.2.0
  CHANGELOG.md
  package.json
Due: none

Deploying to gh-pages from @ MorevM/vue-transitions@9122f7ea9f036dfa5cb741ba494ecde0179c7a1c 🚀
  assets/index.0303cd87.css
  assets/index.3016bb6f.css
  assets/index.59abdf25.js
  assets/index.fffde548.js
  index.html
Due: eslint --fix, stylelint --fix --allow-empty-input

fix(build): Correct filename and path of resulting CSS file
  builders/vue2-builder/vite-lib.config.js
  builders/vue3-builder/vite-lib.config.js
Due: eslint --fix

release: Release version 2.2.1
  CHANGELOG.md
  package.json
Due: none

nvm: Update the type of code block for better view
  README.md
Due: none

fix: Don't pass `mode` attribute to `transition-group` element
  src/mixins/base-transition.js
Due: eslint --fix

fix(transition-expand): Wait an extra tick before element size resolving
  src/transitions/transition-expand/transition-expand.vue
Due: eslint --fix

release: Release version 2.2.2
  CHANGELOG.md
  package.json
Due: none

chore: Bump common devDeps related to both packages
  package.json
  yarn.lock
Due: none

chore: Lint TS files as well as others
  .lintstagedrc.yaml
  package.json
Due: eslint --fix

chore: Correctly align JSDocs after eslint config update
  types/index.d.ts
Due: none

fix(types): Export individual transition types
  types/index.d.ts
Due: none

refactor(types): Export PluginOptions to use with Nuxt module
  types/index.d.ts
Due: none

nvm: Remove an extra space
  scripts/utils.js
Due: eslint --fix

feat: Add Nuxt module
  .eslintignore
  .eslintrc.js
  .gitignore
  nuxt-module/module.ts
  nuxt-module/package.json
  nuxt-module/template.d.ts
  nuxt-module/template.vue
  nuxt-module/types.d.ts
  package.json
  scripts/nuxt-module-build.mjs
  tsconfig.json
  yarn.lock
Due: eslint --fix

chore: Upgrade non-major deps
  package.json
  yarn.lock
Due: none

chore: `@morev/eslint-config` update
  package.json
  yarn.lock
Due: none

chore: Upgrade individual builders deps
  builders/vue2-builder/package.json
  builders/vue3-builder/package.json
  yarn.lock
Due: none

chore: Regenerate lockfile
  yarn.lock
Due: none

docs: Correct order of sections in TOC
  README.md
  package.json
Due: none

docs: Add info about Nuxt module usage
  README.md
Due: none

nvm: Add the promo image to README.md
  .eslintrc.js
  .github/images/header.svg
  README.md
Due: eslint --fix

release: Release version 2.3.0
  CHANGELOG.md
  package.json
Due: none

nvm: Deeper color of the promo image
  .github/images/header.svg
Due: none

fix: Note `./nuxt` export in the main `package.json`
  package.json
Due: none

release: Release version 2.3.1
  CHANGELOG.md
  package.json
Due: none

fix(nuxt): Don't inherit attrs for component mappings
  nuxt-module/template.vue
Due: eslint --fix

fix(nuxt): Use `addComponentsDir` instead of individual `addComponent`
  nuxt-module/module.ts
Due: none

chore: Upgrade shared utility lib
  package.json
  yarn.lock
Due: none

chore: Disable `dependabot` for devDependencies
  .github/dependabot.yml
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,vue,json.jsonc,json5,yml,yaml}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
